<div class="row my-4">
  <div class="col align-self-center text-center">
    <h3>HMS Unilink</h3>
  </div>
</div>

<div class="row my-4">
  <div class="col">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" autocomplete="off">
      <div class="row">
        <div class="col-3 d-none d-sm-block"></div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="Username" required />
            <mat-error *ngIf="loginForm.controls['username'].invalid">{{getUsernameErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3 d-none d-xl-block"></div>
      </div>

      <div class="row">
        <div class="col-3 d-none d-sm-block"></div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Password" required />
            <mat-error *ngIf="loginForm.controls['password'].invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3 d-none d-sm-block"></div>
      </div>

      <div class="row mb-3">
        <div class="col-3 d-none d-sm-block"></div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-sm btn-outline-success float-right">Login</button>
        </div>
        <div class="col-3 d-none d-sm-block"></div>
      </div>

      <div class="row">
        <div class="col-3 d-none d-sm-block"></div>
        <div class="col-sm-6">
          <div *ngIf="invalidLogin" class="alert alert-warning col" role="alert">
            Invalid Username or Password
          </div>
        </div>
        <div class="col-3 d-none d-sm-block"></div>
      </div>
    </form>
  </div>
</div>
