<div class="row">
  <div class="col-6">
    <h2 class="mt-2">Dashboard</h2>
  </div>
  <div class="col-6">
    <button mat-stroked-button color="primary" class="float-right mt-2" routerLink="/inmates/new"><i class="fas fa-plus pr-1"></i>Add</button>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <mat-form-field>
      <input matInput [(ngModel)]="listFilter" placeholder="Filter">
      <button mat-button *ngIf="listFilter" matSuffix mat-icon-button aria-label="Clear" (click)="listFilter=''">
        <i class="fas fa-times text-muted"></i>
      </button>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-slide-toggle class="pt-2 float-right" color="primary" [(ngModel)]='isActiveToggle'>Active Only</mat-slide-toggle>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

    <ng-container matColumnDef="firstNames">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="firstNames"> First Name </th>
      <td mat-cell *matCellDef="let inmate" class="hand" [routerLink]="['/inmates', inmate.id]">
        <span [ngClass]="{'text-muted': !inmate.isActive}">{{inmate.firstNames}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName"> Last Name </th>
      <td mat-cell *matCellDef="let inmate" class="hand" [routerLink]="['/inmates', inmate.id]">
        <span [ngClass]="{'text-muted': !inmate.isActive}">{{inmate.lastName}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="dob"> DOB </th>
      <td mat-cell *matCellDef="let inmate" class="hand" [routerLink]="['/inmates', inmate.id]">
        <span [ngClass]="{'text-muted': !inmate.isActive}">{{inmate.dob | jsonStringDate}}</span>
        <small class="db text-muted pl-2">{{ inmate.dob | ageYearsDate}} years</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="intakeDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="intakeDate"> Intake </th>
      <td mat-cell *matCellDef="let inmate" class="hand" [routerLink]="['/inmates', inmate.id]">
        <span [ngClass]="{'text-muted': !inmate.isActive}"> {{inmate.intakeDate | jsonStringDate}}</span>
        <small class="db text-muted pl-2">{{ inmate.intakeDate | ageYearsDate}} years</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="cellNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="cellNumber"> Cell </th>
      <td mat-cell *matCellDef="let inmate" class="hand" [routerLink]="['/inmates', inmate.id]">
        <span class="pl-1" [ngClass]="{'text-muted': !inmate.isActive}">{{inmate.cellNumber}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="locations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="locations"></th>
      <td mat-cell *matCellDef="let inmate" class="hand" (click)="expandedInmate = expandedInmate === inmate ? null : inmate">
        <i class="fas fa-map-marker-alt p-2" *ngIf="getActiveLocationHistory(inmate).length > 0" matTooltip="Show Locations"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let inmate" [attr.colspan]="displayedColumns.length">
        <div class="inmate-detail" [@detailExpand]="inmate == expandedInmate ? 'expanded' : 'collapsed'">

          <div class="px-3 py-3">
            <h4 class="mb-0">Location History</h4>
            <div class="pl-2" *ngFor="let locationHistory of getActiveLocationHistory(inmate)">
              {{locationHistory.timestamp | hourMinutePipe:'HH:mm'}} - {{locationHistory.location}}
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let inmate; columns: displayedColumns;"
      class="inmate-row"
      [class.inmate-expanded-row]="expandedInmate === inmate">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="inmate-detail-row"></tr>
  </table>

  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
