<div class="row mt-4">
  <div class="col d-flex justify-content-center">
    <h4>Unauthorised</h4>
  </div>
</div>

<div class="row mt-3">
  <div class="col d-flex justify-content-center">
    <span>We're sorry, you don't have access to the page you requested.</span>
  </div>
</div>

<div class="row mt-2">
  <div class="col d-flex justify-content-center">
    <span
      >To view this page, you may need to contact your system administrator or
      log in as a different user.</span
    >
  </div>
</div>

<div class="row mt-3">
  <div class="col d-flex justify-content-center">
    <a [routerLink]="['/home']" class="nav-link hand">
      <button class="btn btn btn-105EAC">Back to home page</button>
    </a>
  </div>
</div>
