<form [formGroup]="form" (ngSubmit)="saveChanges(form.value)">
  <div class="row my-2">
    <div class="col">
      <button mat-button routerLink="/home" color="primary">
        <i class="fas fa-chevron-left pr-1"></i>Back
      </button>
    </div>
    <div class="col">
      <button type="submit" mat-stroked-button color="primary" class="float-right">
        <i class="fas fa-check pr-1"></i>Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-top-border-purple">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col">
              <h4 class="purple">
                <i class="fas fa-user pr-2"></i>
                <span *ngIf="inmate.id; else addInmateTitle">Edit Inmate</span>
                <ng-template #addInmateTitle>Add Inmate</ng-template>
              </h4>
            </div>
            <div class="col-2">
              <mat-slide-toggle formControlName="isActive" class="float-right" color="primary" >Is Active</mat-slide-toggle>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-6">

              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input matInput formControlName="firstNames" placeholder="First Names" required />
                    <mat-error *ngIf="form.controls['firstNames'].invalid">{{getFirstNamesErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field>
                    <input matInput formControlName="lastName" placeholder="Last Name" required />
                    <mat-error *ngIf="form.controls['lastName'].invalid">{{getLastNameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <mat-form-field>
                    <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Date of Birth"
                      (dateInput)="formatAge('input', $event)" (dateChange)="formatAge('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint class="text-muted" *ngIf="ageYears && ageYears !== 'NaN'">{{ageYears}} Years</mat-hint>
                    <mat-error *ngIf="form.controls['dob'].invalid">{{getLastNameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field>
                    <mat-label>Cell Number</mat-label>
                    <input matInput type="number" formControlName="cellNumber" placeholder="{{cellNumberMin}} - {{cellNumberMax}}" required />
                    <mat-error *ngIf="form.controls['cellNumber'].invalid">{{getCellNumberErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col">
                  <mat-form-field>
                    <input matInput [ngxMatDatetimePicker]="intakePicker" placeholder="Intake Date" formControlName="intakeDate"
                      [min]="intakeMin" [max]="intakeMax" required>
                    <mat-datepicker-toggle matSuffix [for]="intakePicker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #intakePicker></ngx-mat-datetime-picker>
                    <mat-error *ngIf="form.controls['intakeDate'].invalid">{{getCellNumberErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ii-location-histories [locationHistories]="inmate.locationHistory"></ii-location-histories>
